.payload {
    /* background-color: #fff; */
    position: absolute;
    margin-top: 80px;
    margin-left: 22%;
    width: 75%;
    height: 88%;
    top: 0;
    left: 0;
    z-index: 0;
}

.payload .welcomer {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(100, 100, 150, 0.3);
    text-align: center;
    margin-top: 28%;
    user-select: none;
}

.payload .container {
    background-color: var(--background-color);
    position: absolute;
    left: 0;
    top: 0;
}

.payload .container .sub {
    display: grid;
    border-bottom: 1px solid rgb(35, 35, 35);
    padding: 8px 0;
}

.payload .container .name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    text-shadow: 0 0 22px rgb(255, 255, 255, 0.25);
    padding: 5px;
}

.payload .hidden {
    visibility: hidden;
}

.payload .container .padding {
    /* border-style: solid;
    border-width: 2px;
    border-color: rgb(32, 32, 55);
    border-radius: 6px; */
    width: 700px;
    max-width: 700px;
    max-height: 500px;
    padding: 20px;
    overflow: scroll;
}

.payload .container label {
    font-size: 0.9rem;
    padding: 5px;
}

.payload .container input[type=text] {
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--text-color);
    border: 1.5px solid rgba(142, 142, 255, 0.4);
    border-radius: 2px;
    outline: none;
    padding: 2px;
    width: 60%;
    transition: ease box-shadow 0.3s;
}

.payload .container input[type=text]:focus {
    box-shadow: 0 0 10px rgb(27, 107, 255, 0.25);
}

.payload .container input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(200, 200, 200, 0.5);
    width: 60%;
    height: 3px;
}

.payload .container .list {
    list-style: none;
}

.payload .container .list .item {
    padding: 2px 0;
}

.payload .container .list .item .item-container {
    padding: 8px 2px;
}

.payload .container .list .item .item-container label {
    font-size: 1.2rem;
    font-weight: 500;
    user-select: none;
}

.payload .container .list .item .item-container input[type=checkbox] {
    display: none;
}

.payload .container .list .item .item-container input[type=checkbox] + label::before {
    content: '\2714';
    box-shadow: 0 0 8px rgb(60, 60, 255, 0.2);
    font-size: 0.5rem;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(45, 45, 60);
    border-radius: 2px;
    margin-right: 0.8em;
    padding: 0 2px;
    cursor: pointer;
    color: transparent;
    transition: ease color 0.1s, text-shadow 0.1s;
}

.payload .container .list .item .item-container input[type=checkbox]:checked + label::before {
    content: '\2714';
    text-shadow: 0 0 8px rgb(60, 60, 255, 1.0);
    color: rgb(27, 107, 255);
}