.payload {
    /* background-color: #fff; */
    position: absolute;
    margin-top: 80px;
    margin-left: 22%;
    width: 75%;
    height: 88%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.5s linear;
}

.payload-container {
    transition: all 0.2s linear;
    opacity: 1;
    animation: visible;
}

.payload-container-hidden {
    opacity: 0;
    transform: translate(0, -2vw);
}

.payload .welcomer {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(100, 100, 150, 0.3);
    text-align: center;
    margin-top: 28%;
    user-select: none;
}

.payload .container {
    background-color: var(--background-color);
    position: absolute;
    left: 0;
    top: 0;
}

.payload .container .sub {
    border-bottom: 1px solid rgb(35, 35, 35);
    padding: 8px 0;
}

.payload .container .novoline {
    padding: 2px 0;
}

.payload .container .name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    text-shadow: 0 0 22px rgb(255, 255, 255, 0.25);
    padding: 5px;
}

.payload .container .padding {
    width: 700px;
    max-width: 700px;
    max-height: 500px;
    padding: 20px;
    overflow: scroll;
}

.payload .container .grid label {
    display: grid;
}

.payload .container label span {
    font-size: 0.85rem;
    padding: 5px;
    user-select: none;
}

.payload .container input[type=text] {
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--text-color);
    border: 1.5px solid rgba(142, 142, 255, 0.4);
    border-radius: 2px;
    outline: none;
    margin-top: 2px;
    padding: 2px;
    width: 60%;
    transition: ease box-shadow 0.3s;
}

.payload .container input[type=text]:focus {
    box-shadow: 0 0 10px rgb(27, 107, 255, 0.25);
}

.payload .container input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(200, 200, 200, 0.5);
    border-radius: 50px;
    margin-top: 5px;
    width: 60%;
    height: 3px;
    outline: none;
}

.payload .container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(56, 159, 255);
    box-shadow: 0 0 10px rgb(40, 40, 40, 0.4);
    border-radius: 50px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    transition: ease background-color 0.2s;
}

.payload .container input[type=range]::-webkit-slider-thumb:hover {
    background-color: rgb(50, 125, 238);
}

.payload .container input[type=checkbox] {
    -webkit-appearance: none;
    background-color: rgba(150, 150, 150, 0.4);
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    transition: ease background-color 0.15s, box-shadow 0.15s;
}

.payload .container input[type=checkbox]:checked {
    background-color: rgb(64, 140, 255);
    box-shadow: 0 0 10px rgb(40, 40, 40, 0.4);
}

.payload .container input[type=button] {
    -webkit-appearance: none;
    background-color: rgb(173, 173, 173);
    vertical-align: middle;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 16px;
    height: 14px;
    transition: ease background-color 0.15s;
}

.payload .container input[type=button]:hover {
    background-color: rgb(197, 197, 197);
}

.payload .container input[type=button]:active {
    background-color: rgb(151, 184, 255);
}

.payload .container .list {
    list-style: none;
}

.payload .container .list .item {
    padding: 2px 0;
}

.payload .container .list .item .item-container {
    padding: 4px 2px;
}

.payload .container .list .item .item-container label {
    color: rgb(45, 220, 45);
    font-size: 1.1rem;
    font-weight: 500;
    user-select: none;
}

.payload .container .list .item .item-container .frozen {
    color: rgb(240, 45, 45);
}

.payload .container .list .item .item-container .info {
    padding: 0 10px;
}

.payload .container .list .item .item-container .info p {
    font-size: 0.9rem;
    color: rgb(40, 40, 40);
    user-select: none;
}

.payload .container .list .item .item-container .info p span {
    font-size: 0.9rem;
    color: rgb(23, 87, 172);
    user-select: text;
    cursor: text;
}

@keyframes visible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
